.details-container{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
  
}


.button-style-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px; 
}

.centered-content {
  display: flex;
  flex-direction: column; /* Display content vertically */
  justify-content: center;
  align-items: center;
}

.comment-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}


.comment-item {
  text-align: center; /* Center the text within the comment item */
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 8px;
}

.button-group-left, .button-group-right {
  display: flex;
  align-items: center;
}

.button-style-container .btn--outline {
  margin-right: 10px; 
}

.journal-title-details {
  font-size: 2rem; 
  color: #d7e8d6;
}

.label-text{
  color: #d7e8d6;
  font-size: 1.8 rem;
}

.standout-text {
  text-shadow: 1px 1px 2px rgba(200, 151, 151, 0.5); /* You can adjust the values as needed */
}

.subtitle{
  color: azure;
  font-size: 1.2rem;
  text-shadow: 10px 10px 20px rgba(119, 155, 186, 0.9); 
}


/* Style the comment list */
.comment-list {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
} 

/* Remove margin for the last comment */
.comment:last-child {
  margin-bottom: 0; 
}

