/* .profileInfo{
    padding: 12px 24px;

} */

.modalFormContainer{
  margin: 200px;
}
.closeBtn{
  position: fixed;
  top: 35%;
  right: 10%;
}

.saveBtn{
  position: fixed;
  margin-top: 5px;
}

/* Style the overlay effect for the modal */
.edit-profile-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 100%;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.98;
    background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent overlay */
  }
  
  /* Style the modal content */
  .edit-profile-modal .modal-content {
    width: 80%; 
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the modal title */
  .edit-profile-modal .modal-title {
    margin-bottom: 20px;
  }
  
  /* Style the modal form fields */
  .edit-profile-modal .form-group {
    margin-bottom: 15px;
  }
  