body{
  background: url('./components/images/img-3.jpg');

}
.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem; /* Add margin for spacing */
}

/* Style for all buttons */
.journal-button {
  padding: 10px 20px; /* Add padding for spacing */
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.journal-button:hover {
  background-color: #0056b3;
}