.deniedModal {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 50%;
    width:70%;
  }

.deniedCloseBtn{
    position: absolute;
    top: 1%;
    right: 17%;
    background-color:rgb(109, 216, 109);
    border-radius: 3px;
  
  
  }
  .deniedCloseBtn:hover {
    background-color: #1fe0b9;
  }